.login {
  display: flex;
}

@media screen and (max-width: 550px) {
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .img {
      width: 80%;
      margin-right: 0;
    }
    .login-form {
      width: 80%;
      margin-right: 0;
    }
  }
}
