.photos-container {
  .photos {
    position: relative;
    width: "350px";
    height: "350px";
  }
}
.photo-content {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  color: black;
}
